@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC)
@import url(http://fonts.googleapis.com/css?family=Trocchi)
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre)

html
    margin:0
    padding:0
body
    margin: 0
    padding: 25px
    background-color: #0F374F
    font: 23px 'Helvetica'
    line-height: 1.5
    color: #fff
    text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 7px
h1
    font-size: 102px
    font-family: 'Bowlby One SC'
    color: #E0DE34
    text-align: center
h2
    font-size: 64px
    font-family: 'Bowlby One SC'
    color: #83E6E6
    margin-top: 5px
    text-align: center
p
    font-family: 'Trocchi'
ul
    line-height: 2
    font-family: 'Trocchi'
    text-shadow: #000 1px 1px 0px;
a
    color: #fff;
code
    font-family: 'Courier'
    background: #222
pre
    background: #222
    padding: 20px 10px